doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
        link(rel="stylesheet", href="/styles/styles.css")
        script(src="/scripts/item.js" defer="defer") 
        title #{item.name}
    body 
        h1 Item Details 
        i.pseudobtn#edit(class="fa fa-pencil" aria-hidden="true")
        p Name: 
            input#name(type="text",name="name",value=`${item.name}` disabled)
        p Price: $
            input#price(type="number",min="0.01",name="price", step="0.01",value=`${parseFloat(item.price).toFixed(2)}` disabled)
        p Stock: 
            input#stock(type="number",min="0",name="stock",value=`${item.stock}` disabled) 
            |  in stock
        if item.tags.length > 0
            h4 Tags: 
            each tag in item.tags 
               span(class="badge badge-pill") #{tag}
        if item.warehouseLocations.length > 0
            h4 Warehouse Locations:
            ul 
                each warehouse in item.warehouseLocations 
                    li #{warehouse.city} (#{warehouse.streetNumber} #{warehouse.streetName})
        button.btn.btn-primary#saveBtn Save
        button.btn.btn-danger#cancelBtn Cancel
