doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 #{item.name}
        h2 Price: $#{item.price}
        h3 Stock: #{item.stock} in stock 
        if item.tags.length > 0
            h4 Tags: 
                each tag in item.tags 
                    p #{tag}
        if item.warehouseLocations.length > 0
            h4 Warehouse Locations:
            ul 
                each warehouse in item.warehouseLocations 
                    li #{warehouse.city} (#{warehouse.streetNumber} #{warehouse.streetName})
