doctype html
html(lang="en")
    head
        include ./partials/head.pug
        title Warehouses
    body 
        h1 Warehouses 
        if warehouses.length == 0
            p No warehouse locations found 
        else 
            a.btn.btn-outline-dark(href="/warehouses/new")
                i.fas.fa-plus 
                | Add New Warehouse
            ul 
                each warehouse of warehouses 
                    li 
                        a(href=`/warehouses/${warehouse._id}`) #{warehouse.city} (#{warehouse.streetNumber} #{warehouse.streetName} #{(new Intl.DisplayNames(['en'], { type: 'region' })).of(warehouse.country)}, #{warehouse.province} #{warehouse.postalCode})