doctype html
html(lang="en")
    head
        include ./partials/head.pug
        script(src="/scripts/warehouse.js" defer="defer") 
        if warehouse
            title Warehouse Information
        else 
            title New Warehouse
    body 
        a.btn.btn-outline-primary(href="/warehouses") 
            i.fas.fa-arrow-left
            | Back to All Warehouses
        if warehouse
            h1 Warehouse Information 
            i.pseudobtn.fa.fa-pencil#edit(aria-hidden="true")
            span &nbsp;&nbsp;| &nbsp;
            i.text-danger.pseudobtn.fa.fa-trash#delete(aria-hidden="true")
        else 
            h1#newWarehouse New Warehouse
        p City: 
            input#city(name="city",value=((warehouse)?`${warehouse.city}`:''), disabled) 
            span.error.text-danger#cityError &times; The city field is required!
        p Street Number:
            input#streetNumber(name="streetNumber",value=((warehouse)?`${warehouse.streetNumber}`:''), disabled) 
            span.error.text-danger#streetNumberError &times; The street number field is required!
        p Street: 
            input#streetName(name="streetName",value=((warehouse)?`${warehouse.streetName}`:''), disabled)
            span.error.text-danger#streetNameError &times; The street name field is required!
        p Country: 
            input#country(name="country",value=((warehouse)?`${(new Intl.DisplayNames(['en'], { type: 'region' })).of(warehouse.country)}`:''), disabled)
            span.error.text-danger#countryError &times; The country field is required!
        p Province/State: 
            input#province(name="province",value=((warehouse)?`${warehouse.province}`:''), disabled)
            span.error.text-danger#provinceError &times; The province field is required!
        p Postal/ZIP Code: 
            input#postalCode(name="postalCode",value=((warehouse)?`${warehouse.postalCode}`:''), disabled)
            span.error.text-danger#postalCodeError &times; The postal/ZIP code field is required!
        p Phone Number: 
            input#phone(name="phone",maxlength=20,value=((warehouse)?`${warehouse.phone}`:''), disabled)
            span.error.text-danger#phoneError &times; The phone number field is required!
        
        button.btn.btn-primary#saveBtn Save
        if warehouse
            button.btn.btn-danger#cancelBtn Cancel

